.colorSection {
  min-height: 100vh;
  width: 100%;
  background-color: #fcfcfc;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}


.IphoneImg{

  position: absolute;
  top: 0%;
  left: -6%;
  max-width: 48vh;

}


.TabletImg{

  position: absolute;
  bottom: -13%;
  right: -6%;
  max-width: 80vh;
  z-index: 12;

}

@media (min-width: 768px) {
  .colorsSection {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.contentContainer {
  max-width: 80rem; /* max-w-7xl */
  width: 100%;
  z-index: 10;
}

.header {
  margin-bottom: 6rem; /* mb-24 */
  text-align: center;
}

.title {
  font-size: 3.75rem; /* text-6xl */
  font-weight: 500; /* font-medium */
  color: #111827; /* text-gray-900 */
  letter-spacing: -0.025em; /* tracking-tight */
}

@media (min-width: 768px) {
  .title {
    font-size: 6rem; /* md:text-8xl */
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 3rem; /* gap-12 */
  align-items: center;
}

.firstRow {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr)); /* grid-cols-1 */
  gap: 3rem; /* gap-12 */
  width: 100%;
  justify-content: center;
}

@media (min-width: 768px) {
  .firstRow {
    grid-template-columns: repeat(2, minmax(0, 1fr)); /* md:grid-cols-2 */
  }
}

@media (min-width: 1024px) {
  .firstRow {
    grid-template-columns: repeat(3, minmax(0, 1fr)); /* lg:grid-cols-3 */
  }
}

.secondRow {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr)); /* grid-cols-1 */
  gap: 3rem; /* gap-12 */
  width: 100%;
  max-width: 53.75rem; /* lg:max-w-[860px] */
  justify-content: center;
}

@media (min-width: 768px) {
  .secondRow {
    grid-template-columns: repeat(2, minmax(0, 1fr)); /* md:grid-cols-2 */
  }
}

.cardWrapper {
  display: flex;
  justify-content: center;
}

.cardContainer {
  width: 100%;
  max-width: 26.25rem; /* max-w-[420px] */
}
