.colorsSection{
    position: relative;
    height: 100vh;
    background-color: #FFFAC6;
}

.white{
  position: absolute;
  top: 12%;
  left: 52%;
  max-width: 30vh;
}

.black{
  position: absolute;
  bottom: 15%;
  right: 33%;
  max-width: 30vh;
}

.complementary{
  position: absolute;
  top: 30%;
  right: 20%;
  max-width: 20vh;
}

.colorTitle{

  position: absolute;
  bottom: 0%;
  left: 6%;
  max-width: 40vh;

}

.celeste{
  position: absolute;
  top: 18%;
  left: 23%;
  max-width: 50vh;

  
}