.competitiveSection{
    position: relative;
    height: 130vh;
    background-image: url("@/assets/ASLingo/audit/background.png");
    background-size: cover;
}

.signSchool{

  position: absolute;
  top: 20%;
  left: 22%;
  max-width: 35vh;


}

.ASL{

  position: absolute;
  top: 24%;
  left: 40%;
  max-width: 35vh;

}

.lingvano{

  position: absolute;
  top: 20%;
  left: 58%;
  max-width: 35vh;

}

.doulingo{

  position: absolute;
  top: 24%;
  left: 76%;
  max-width: 35vh;

}

.crossAudit{

  position: absolute;
  top:42%;
  left: 33%;
  max-width: 35vh;

}

.crossAudit2{

  position: absolute;
  top:48%;
  left: 31%;
  max-width: 35vh;

}

.crossAudit3{

  position: absolute;
  top:60%;
  left: 32%;
  max-width: 35vh;

}

.crossAudit4{

  position: absolute;
  top:67%;
  left: 30%;
  max-width: 35vh;

}

.crossAudit5{

  position: absolute;
  top:39%;
  left: 50%;
  max-width: 35vh;

}

.crossAudit6{

  position: absolute;
  top:45.5%;
  left: 51%;
  max-width: 35vh;

}

.crossAudit7{

  position: absolute;
  top:52%;
  left: 50%;
  max-width: 35vh;

}

.crossAudit8{

  position: absolute;
  top:64%;
  left: 51%;
  max-width: 35vh;

}

.crossAudit9{

  position: absolute;
  top:71%;
  left: 49%;
  max-width: 35vh;

}

.crossAudit10{

  position: absolute;
  top:36%;
  left: 68%;
  max-width: 35vh;

}

.crossAudit11{

  position: absolute;
  top:60%;
  left: 68%;
  max-width: 35vh;

}

.crossAudit12{

  position: absolute;
  top:48%;
  left: 67%;
  max-width: 35vh;

}

.crossAudit13{

  position: absolute;
  top:42%;
  left: 69%;
  max-width: 35vh;

}

.crossAudit14{

  position: absolute;
  top:34%;
  left: 87%;
  max-width: 35vh;

}

.crossAudit15{

  position: absolute;
  top:58%;
   left: 85%;
  max-width: 35vh;

}

.check{

  position: absolute;
  top: 31%;
  left: 34%;
  max-width: 35vh;

}

.check2{

  position: absolute;
  top: 37%;
  left: 33%;
  max-width: 35vh;

}

.check3{

  position: absolute;
  top: 56%;
  left: 32%;
  max-width: 35vh;

}

.check4{

  position: absolute;
  top: 35%;
  left: 52%;
  max-width: 35vh;

}

.check5{

  position: absolute;
  top: 60%;
  left: 50%;
  max-width: 35vh;

}

.check6{

  position: absolute;
  top: 56%;
  left: 68%;
  max-width: 35vh;

}

.check7{

  position: absolute;
  top: 32%;
  left: 69%;
  max-width: 35vh;

}

.check8{

  position: absolute;
  top: 69%;
  left: 68%;
  max-width: 35vh;

}

.check9{

  position: absolute;
  top: 42%;
  left: 87%;
  max-width: 35vh;

}

.check10{

  position: absolute;
  top: 48%;
  left: 88%;
  max-width: 35vh;

}

.check11{

  position: absolute;
  top: 54%;
  left: 86%;
  max-width: 35vh;

}


.check12{

  position: absolute;
  top: 67%;
  left: 86%;
  max-width: 35vh;

}

.check13{

  position: absolute;
  top: 74%;
  left: 85%;
  max-width: 35vh;

}

